<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="post" th:action="@{/users/edit}" th:object="${user}">
    <input type="hidden" th:field="*{id}" id="id"/>

    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br><br>
    <label for="name">Surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br><br>
    <label for="name">Department: </label>
    <input type="text" th:field="*{department}" id="department"/>
    <br><br>
    <label for="name">Salary: </label>
    <input type="text" th:field="*{salary}" id="salary"/>
    <br><br>
    <input type="submit" value="Edit"/>
</form>

</body>
</html>